@import 'tailwindcss';
@import '@fontsource/jetbrains-mono';

body {
  @apply m-0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
